<ion-header no-border>
  <ion-navbar transparent>
  </ion-navbar>
</ion-header>
<ion-content fullscreen padding text-center>
  <img class="logo" src="assets/img/logo/polimarket.png" />
  <div class="buttons">
    <button ion-button class="login-button facebook" (click)="loginwithfb()">Iniciar con Facebook</button>

  </div>
  <video #player playsinline autoplay muted loop poster="" id="bgvid">
    <source src="assets/video/social_media.mp4" type="video/mp4"> Su navegador no soporta el video
  </video>


</ion-content>
