<ion-header>
  <ion-navbar>
    <ion-title>PoliMarket</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
      <ion-icon name='bulb'></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <h1>Calificar el Producto:</h1>

  <div>
    <rating [(ngModel)]="rate"
            readOnly="false"
            max="5"
            emptyStarIconName="star-outline"
            halfStarIconName="star-half"
            starIconName="star"
            nullable="false"
            (ngModelChange)="onModelChange($event)">
    </rating>
  </div>
</ion-content>
<ion-footer>
  <button ion-button (click)="dismiss()">Cancelar</button>
  <button ion-button (click)="dismiss(codigo)">Aceptar</button>



</ion-footer>

