<ion-header>
  <ion-navbar>
    <ion-title>PoliMarket</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
      <ion-icon name='bulb'></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <h1>Detalles del producto</h1>

  <div>
    <p><img src={{this.currentProd.producto.url}}></p>
    <p>Nombre: {{this.currentProd.producto.titulo}}</p>
    <p>Categoría: {{this.currentProd.producto.categoria}}</p>
    <p>Código: {{this.currentProd.producto.codigo}}</p>
    <p>Precio:{{this.currentProd.producto.precio}}</p>
    <p>Comentarios: {{this.currentProd.comentario}}</p>

  </div>
</ion-content>
<ion-footer>

  <button ion-button (click)=" dismiss()">Ok</button>



</ion-footer>

