page-productos {
  ion-modal,
  .show-page {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, .5) !important;
    padding: 50px !important;
  }
  .toolbar-background {
    color: red !important;
  }
  ion-modal.modal-wrapper {
    transform: translateY(30%) !important;
  }
  ion-page.modal {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-backdrop-bg {
    background-color: #000;
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.5;
  }

  ul {
    padding: 0px;

    &.rating li {
      padding: 5px 10px !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 30px;
      }
    }
  }

  .login-button {
    width: 50%;
    height: 50rem;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: none !important;
  }

  .pins {
    column-count: 2;
  }


  .pin {
    display: inline-block;
  }

  .card {
    margin-top: 10px;
  }

  ion-avatar {
    margin: 0 !important;
  }

  .item ion-avatar img {
    width: 9vw ;
    height: 9vw;
  }

  .post-description {
    padding: 8px;
    border-bottom: 1px solid #eee;
  }

  // Media queries
  @media (min-width: 640px) {
    .pins {
      column-count: 3;
    }
    .item ion-avatar img {
      width:  7vw !important;
      height: 7vw !important;
    }
  }

  /*@media (min-width: 640px) {
    .pins {
      column-count: 4;
    }
    .item ion-avatar img {
      width:  5vw !important;
      height: 5vw !important;
      margin: 6px;
    }
  }*/

}

div.producto{
  display:inline-block;
  width:auto;
  height:auto;
  max-width:430px;
  margin-left:auto;
  margin-right:auto;
}

button.producto-boton{
  width:40%;
  font-weight:500;
  border-radius:5px 5px 5px 5px;
}

img.producto-foto{
  display:block;
  width:100%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
}

ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}


