<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="display: inline">
      Productos
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
        {{userSvc.usuario}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding id="page1" style="align-items: center">

  <!--<div *ngFor="let producto of productos" id="productos-container1" class="producto">
    <ion-card>
      <div id="productos-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
        <img src={{producto.foto}} class="producto-foto" />
        <h1 > {{producto.nombre}} </h1>
        <h2 > {{producto.precio}} Gs.</h2>

        <button id="productos-button4" ion-button color="dark" class="producto-boton">
          Ver Detalles
        </button>
        <button id="productos-button5" ion-button color="agregar" class="producto-boton" (click)="agregarAMiCarrito(producto)">
          Agregar al Carrito
        </button>
      </div>
    </ion-card>
    <div class="spacer" style="height:10px;" id="productos-spacer2"></div>
  </div>-->

  <!--<div *ngIf="productos.length >0 && !cargando">

    <a *ngFor="let producto of productos">

      <img [src]="producto.url" alt="">
      <div >
        <h2>{{ producto.titulo }}</h2>
        <h3>{{ producto.categoria }}</h3>

        <!--<div >
          <button (click)=agregarAlCarrito(producto.cod) type="button" >
            <span>Agregar al Carrito</span>
          </button>
        </div>-->

        <!--<button id="productos-button5" ion-button color="agregar" class="producto-boton" (click)="agregarAMiCarrito(producto)">
          Agregar al Carrito
        </button>

        <!--<div >
          <button [routerLink]="['/producto', producto.cod ]" type="button" >
            <span>Ver Detalles</span>
          </button>
        </div>-->


     <!-- </div>

    </a>


  </div>-->

  <div *ngIf="productos.length >0 && !cargando">
      <div class="pins">
        <ion-card class="pin" *ngFor="let producto of productos">
          <img [src]="producto.url" />
          <div class="post-description">
            <h1>{{ producto.categoria}}</h1>
            <h3>{{ producto.titulo }}</h3>
          </div>
          <ion-item>
           <!-- <ion-avatar item-start>
              <img src="assets/img/logo/logo-mailchimp.png">
            </ion-avatar>-->
            <!--<button id="productos-button5" ion-button class="login-button"  (click)="agregarAMiCarrito3(producto.titulo,producto.categoria,producto.codigo,producto.url,producto.precio);presentPrompt()">-->
            <button id="productos-button5" ion-button class="login-button"
                    (click)="presentPrompt(producto.titulo,producto.categoria,producto.cod,
                    producto.url,producto.precio)">
              Agregar al Carrito
            </button>
            <!--<button id="productos-button4" ion-button class="login-button" (click)=" presentConfirm(producto.titulo,producto.categoria,producto.cod,
                    producto.url,producto.precio)"
            >Ver Detalles</button>-->

            <button id="productos-button4" ion-button class="login-button" (click)="verDetalles(producto, producto.cod)"
            >Ver Detalles</button>
            <!--<button id="productos-button8" ion-button class="login-button" (click)="presentConfirm(producto.titulo,producto.categoria,producto.codigo,
                    producto.url,producto.precio)"
            >prueba</button>-->


          </ion-item>
        </ion-card>

        <!--<button id="productos-button20" ion-button class="login-button" (click)="verDetalles()" >Ver Detalles</button>-->
      </div>
  </div>




</ion-content>
