<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Mi Perfil
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
        {{userSvc.usuario}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding id="page3">
  <form #formulario="ngForm" id="miPerfil-form3" (submit)="guardarPerfil(formulario)">
    <ion-item id="miPerfil-input6">
      <ion-label>
        Teléfono
      </ion-label>
      <ion-input [(ngModel)]="telefono" type="tel" name="telefono"></ion-input>
    </ion-item>
    <ion-item id="miPerfil-input5">
      <ion-label>
        Fecha de Nacimiento
      </ion-label>
      <ion-input [(ngModel)]="nacimiento" type="date" name="nacimiento"></ion-input>
    </ion-item>
    <ion-item id="miPerfil-input7">
      <ion-label>
        Sexo
      </ion-label>
      <ion-input [(ngModel)]="sexo" type="text" name="sexo"></ion-input>
    </ion-item>
    <ion-item id="miPerfil-input8">
      <ion-label>
        Dirección
      </ion-label>
      <ion-input [(ngModel)]="direccion" type="text" name="direccion"></ion-input>
    </ion-item>
    <button type=submit id="miCarrito-button22" ion-button color="balanced" block style="font-weight:500;">
      Guardar
    </button>
  </form>
</ion-content>

